@model LoginViewModel

<h2>Giriş Yap</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="Email">E-posta</label>
        <input type="email" id="Email" name="Email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">Şifre</label>
        <input type="password" id="Password" name="Password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
